commands:
    00_download_aws_inspector_agent:
        command: curl -O https://<some location>.cloudfront.net/linux/latest/install
        cwd: /opt
        ignoreErrors: false
    01_install_aws_inspector_agent:
        command: bash install
        cwd: /opt
        ignoreErrors: false
    02_start_aws_inspector_agent:
        command: /etc/init.d/awsagent start
        ignoreErrors: false
